<div class="container">

    <h1 class="mt-1 text-center ">MOVIES</h1>
    <h3 class="ptext text-center">Don't miss that Movie your friend told you about!</h3>
    <h5 class="ptext text-center">Already part of the Community? Log in now.</h5>
    <img class="mt-3 text-center "
        src="https://external-preview.redd.it/v93lZr6nh4LYvrU3uXqcR5ZEn_a9kVyU1obKMCypCk8.jpg?auto=webp&v=enabled&s=750b0b906c3db8a5d6a772c2aa5fb3ff4e19e405"
        alt="">
    <p class="ptext text-center mt-3">Already part of the Community? Log in now.</p>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-1">
                <hr>
            </div>
            <h1 class="ptext text-center">Never miss again that Movie your friend told you!</h1>

            {{!-- {{#if errorMessage}}
            <div id="errorMessage">
                <p>{{errorMessage}}</p>
            </div>
            {{/if}} --}}

            </form>
        </div>
    </div>
</div>






</div>