body {
  font: 20px;
  font-family: sans-serif;
  background-color: lightsalmon;
  background-repeat: round;

}

.navbar {
  background-color: lightsalmon;
}

.ptext {
  font-family: cursive;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* .card-group {
  display: flex;
  font: 1em sans-serif;
  color: black
} */

.align-center {
  justify-content: center;
  background-color: grey;
}


.card-text {
  color: black;
  border-width: 10px;
  border-color: red;
}

.card {
  color: white;
  background-color: lightgrey;
  border-width: 2px;
  box-shadow: 6px 2px lightgrey;
  display: flex;
}

.container {
  color: whitesmoke;
}

ul,
li {
  list-style: none;
  color: white;

}

.imgMov img {
  width: 100%;
  height: auto;
}

.container img {
  width: 100%;
  height: auto;
}