<div class="container">

    {{#each movie}}


    <div class="card mt-5" style="width: 18rem;">
        <img src="{{image}}" class="card-img-top adjust-center" alt="...">
        <div class="card-body">
            <h6 class="card-text">{{title}}</h6>
        </div>
    </div>
</div>
{{/each}}