<div class="container">

    <div class="row">
        {{#each movies}}

        <div class="col-sm">
            <div class="card mt-5" style="width: 18rem;">
                <img src="{{image}}" class="card-img-top adjust-center" alt="...">
                <div class="card-body text center">
                    <h6 class="card-text text">{{title}}</h6>
                    <li> <a class="text-center" href="/movie/details/{{id}}"> GET MOVIE DETAILS </a></li>

                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>